.content-coder {
  background-image: linear-gradient(#fb8500,#023047, white), url(../../assets/background_coder.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: color;
  background-attachment: fixed;
}

.list-coder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-coder {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
}

#coder-title{
  font-family: 'M PLUS 1 Code', sans-serif;
  color:#219ebc;
  font-weight: bold;
  font-size: 5rem;
}

.item-list-coder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 50px;
}

.name-coder {
  font-weight: 300;
  font-size: 1.5rem;
}

ul.list-coder{
  margin:0;
  padding:0;
}

@media(max-width: 769px) {
  .content-coder {
    background-size: 200%;
    background-position: 50% 0%;
  }

  .item-list-coder img {
    width: 600px;
  }
}

@media(max-width: 321px) {
  .content-coder {
    padding-top: 50px;
  }

  #coder-title {
    font-size: 3rem;
   }

  .item-list-coder img {
    width: 250px;
  }
}